{
  "alphavantage": {
    "key": "",
    "delay": 15,
    "maxRetries": 10
  },
  "sma": {
    "interval": "daily",
    "timePeriod": 200,
    "seriesType": "close",
  },
  "gtaa": {
    "top": 3,
    "shift": 1
  },
  "symbols": ["SYM1", "SUM2"]
}
